@import url('https://fonts.googleapis.com/css2?family=Festive&family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Poppins&family=Roboto&display=swap');
$roboto :  'Roboto', sans-serif;;
::-webkit-scrollbar{
    display: none;
}
.container-home{
    background: #EBF4F8;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    overflow: scroll;
   left: 0;
   top: 0;
   padding: 0;
    
}
.main-bg{
    background-size: cover;
    position: absolute;
    align-self: center;
    display: flex;
    
}
.overflow{
    width: 480px;
    height: 100vh;
    display: flex;
   
    
}
.mobile-home{
   
    width: 480px;
    height: max-content;
    overflow: scroll;
    background: #fff;
    display: flex;
    z-index: 10000;
    flex-direction: column;
    align-items: center;
   justify-content: space-around;
   
}
.banner{
    width: 480px;
    height: 225px;
    background: #002E74;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    
}
.banner-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/tiga-lingkaran.png');
}
.banner-text-home{
    width: 480px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
   background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
    
}
.banner-title{
    width: 345px;
    height: 70px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    text-align: center; 
}
.banner-subtitle{
    width: 345px;
    height: 70px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    color: #e5e5ee;
}
.product-container{
    width: 480px;
    height: 200vh;
    overflow: visible;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-around;
    margin-bottom: 150px;
    
    
}
.product-bar{
    width: 418px;
    height: 80px;
    background: #fff;
    font-size: 20px;
    display:  flex;
    font-family: $roboto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-top: -50px;
    border-radius: 20px;
    z-index: 100000;
}
.card{
    width: 207px;
    margin-top: 30px;
    height: 320px;
    border: 3px solid #EBF4F8;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0;
    background: #EBF4F8;
    border-radius: 5px;
    
    
}
.produk-imgbox{
    width: 200px;
    height: 220px;
    background-color: #EBF4F8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 5px;
}
.produk-img{
    width: 100px;
    height: 220px;
    background-size: cover;
    display: flex;
    margin-top: 20px;
    background-position: center;
}
.produk-data{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: #EBF4F8;
    justify-content: center;
    margin: 0;
}
.produk-title{
    font-size: 18px;
    font-weight: 600;
    color: #002E74;
    width: 200px;
    text-align: center;
    position: relative;
    height: 25px;
    margin: 0;
}
.produk-price{
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    color: #002E74;
    width: 200px;
    text-align: center;
    position: relative;
    height: 25px;
}
.btn-order{
    width: 200px;
    width: 100%;
    height: 50px;
    background: #EBF4F8;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.btn-buy{
    width: 180px;
    height: 30px;
    background: #002E74;
    display: flex;
    color: #fff;
    border: none;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease 0.2s;
}
.btn-buy:hover{
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}
.nav-home{
    width: 480px;
    box-sizing: border-box;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 90vh;
    align-self: center;
    box-shadow: 0px -1px 4px 0px rgba(0, 46, 116, 0.53);
    z-index: 10000000;
    background: #fff;
    box-sizing: border-box;
}
.home-bar{
    display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: #c4c4c4;
   font-size: 14px;
   font-weight: 500;
}
.chat-bar{
    display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: #c4c4c4;
   font-size: 14px;
   font-weight: 500;
}
.help-bar{
    display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: #c4c4c4;
   font-size: 14px;
   font-weight: 500;
}
.profile-bar{
    display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: #c4c4c4;
   font-size: 14px;
   font-weight: 500;   
}
.active{
    color: #002E74;
}
.container-invoice{
    opacity: 0;
     position: absolute;
     width: 441px;
     height: 503px;
     display: flex;
     margin-top: 128px;
    margin-left: 20px;
     flex-direction: column;
     background: #FFFFFF;
     justify-content: space-around;
     z-index: -1000000;
 }
 .visible{
     opacity: 1;
     z-index: 100000000;
 }
 .bar{
        cursor: pointer;
    }
@media only screen and (max-width: 400px){
    .container-home{
        .nav-home{
            width: 370px;
            left: 3px;
            top: 92vh;
        }
        .mobile-home{
            width: 100%;
            .product-container{
                width: 100%;
                height: auto;
                z-index: 10000;
                .product-bar{
                    width: 370px;
                }
                .card{
                    width: 245px;
                    height: 330px;
                    align-items: center;
                    .produk-data{
                        align-items: center;
                    }
                }
            }
        }
        .container-invoice{
        width: 350px;
        left: -8px;
        .form-order{
            width: 335px;
            .box-order-input{
                width: 333px;
            }
        }
    }
    }
    .sim-logo{
        z-index: 1000;
        .logos{
            position: absolute;
            left: 12px;
        }
    }
    
    
}
@media only screen and (max-width: 370px){
    .container-home{
        .nav-home{
            width: 370px;
            left: 3px;
            top: 91vh;
        }
        .mobile-home{
            width: 100%;
            .product-container{
                width: 100%;
                height: auto;
                z-index: 10000;
                .product-bar{
                    width: 370px;
                }
                .card{
                    width: 245px;
                    height: 330px;
                    align-items: center;
                    .produk-data{
                        align-items: center;
                    }
                }
            }
        }
        .container-invoice{
        width: 330px;
        display: flex;
        align-self: center;
        position: fixed;
        top: 0px;
        box-sizing: border-box;
        .form-order{
            width: 335px;
            display: flex;
            align-items: center;
            .box-order-input{
                width: 300px;
            }
            .btn-konfirm{
                width: 300px;
            }
            .btn-cancel{
                width: 300px;
            }
        }
    }
    }
    .sim-logo{
        z-index: 1000;
        .logos{
            position: absolute;
            left: 12px;
        }
    }
    
    
}
